<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>input</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <h1>Enter a url to shorten</h1>
    <form action="/submit" method="POST"><input type="text" name="redirect[url]" placeholder="insert here"><button>get short</button></form>
        
    </body>
</html>